body{
    background-color: black;
}

.imagem{
    width: 200px;
    height 220px;
}

p{
    font: size 22px;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    color: brown;
}

strong{
    color:brown;
}

.itens{
    font-style: italic;
    color: white;
}

.beneficios{
    background: #202020;
}

h2{
    color: white;
}