p{
    font: size 22px;
    text-align: center;
    color: white;
}

.imagem{
    width: 100%;
    padding-left: 20%;
}

h1{
    text-align: center;
    color: brown;
}

body{
    background-color: black;
}

strong{
    color:brown;
}

.itens{
    font-style: italic;
    color: white;
}

.beneficios{
    background: #202020;
}

h2{
    color: white;
}