p{
    font: size 22px;
    text-align: center;
    color: white;
}

#imagem{
    width: 100%;
}
h1{
    text-align: center;
    color: brown;
}

body{
    background-color: black;
}

strong{
    color:brown;
}
